body {
  font-family: "Poppins";
  background: #ffffff;
}
p {
  margin: 0 !important;
}
a {
  text-decoration: none !important;
}
.pl-0 {
  padding-left: 0px !important;
}

.pr-0 {
  padding-right: 0px !important;
}

.notification_section {
  height: 50px;
  background: #367cff;
  text-align: center;
}
.notification_section p {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 50px;
  color: #ffffff;
}
.notification_close {
  position: absolute;
  cursor: pointer;
  padding: 13px 0px;
  top: 0px;
  right: 30px;
}
.bold_notification {
  font-style: normal;
  font-weight: 600;
}

.header_contact_section {
  height: 50px;
  background: rgba(134, 227, 252, 0.3);
}
.header_contact_section .left_icon {
  float: left;
}
.header_contact_section .left_icon a {
  padding: 15px 15px 15px 0px;
  line-height: 50px;
}

.header_contact_section .right_icon {
  float: right;
}
.header_contact_section .right_icon a {
  padding: 15px 15px 15px;
  line-height: 50px;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  color: #28365a;
}

.main_menu_section {
  height: 82px;
  background: #ffffff;
  border-bottom: 1px solid #d9d9d9;
}
.left_menu {
  float: left;
}

.left_menu a {
  padding: 15px 15px 15px 0px;
  line-height: 82px;
}

.right_menu {
  float: right;
}

.right_menu a {
  padding: 15px 15px 15px;
  line-height: 82px;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  color: #28365a;
}

.main_menu_section .left_menu {
  float: left;
}

.main_menu_section .left_menu a {
  padding: 15px 15px 15px 0px;
  line-height: 82px;
}

.learner_menu {
  border-right: 1px solid #d9d9d9;
  height: 1051px;
}

.learner_menu ul {
  list-style: none;
  margin: 0;
  padding: 100px 0 0 0;
}

.learner_menu li {
  display: inline-block;
  width: 100%;
}

.learner_menu a {
  display: inline-block;
  width: 100%;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  padding: 15px 25px 15px 0px;
  color: #28365a;
}

.learner_menu .active_menu {
  font-weight: 600 !important;
  background: linear-gradient(180deg, #00c7ff 0%, #367cff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.main_logo {
  width: 108px;
  height: 30px;
}

.search_icon {
  width: 17px;
  height: 17px;
}
.overright_side_bar {
  width: 243px !important;
  padding: 0% !important;
}

.overright_main_content {
  background: #f7f9fa !important;
  border-radius: 0px 0px 45px 45px !important;
  width: 1070px;
  height: 275px;
}
.profile {
  background: #f7f9fa;
  border-radius: 0px 0px 45px 45px;
  padding: 39px 0;
}
.profile_info {
  display: flex;
}
.profile_info img {
  width: 197px;
  height: 197px;
  background: #f0f0f0;
  border-radius: 50%;
  margin-right: 38px;
  margin-left: 20px;
}
.profile_info h6 {
  font-weight: 600;
  font-size: 32px;
  line-height: 48px;
  color: #28365a;
  margin-top: 35%;
}
.profile_info p {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;

  color: #28365a;
}
.profile_button {
  display: flex;
  align-items: flex-end;
}
.edeit_button {
  width: 153px;
  height: 32px;
  border-radius: 4px;
  border: 1px solid #00c7ff;
  filter: drop-shadow(0px 4px 12px rgba(0, 0, 0, 0.12));
  margin-left: 50%;
}
.about_section {
  width: 926px;
  height: 100px;
  margin-left: 107px;
  margin-top: 60px;
}
.about_section p {
  font-weight: 600;
  font-size: 28px;
  line-height: 42px;
  color: #28365a;
  border-bottom: 0.6px solid #367cff;
  padding-bottom: 15px;
}

.about_section span {
  font-weight: 600;
  font-size: 14px;
  line-height: 55px;
  color: rgba(40, 54, 90, 0.8);
  margin-right: 30px;
}

.about_section h6 {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  margin-top: 15px;

  color: rgba(40, 54, 90, 0.8);
}

.about_me {
  margin-top: 106px !important;
}

/* .modal-body input {
  width: 470px;
  height: 42px;
  border: 1px solid #00c7ff;
  border-radius: 2px;
  margin-top: 12px;
  margin-bottom: 28px;
} */

/*all course style start from here */

.sub_menubar {
  border-bottom: 0.6px solid #367cff;
  padding-top: 65px;
}
.sub_menubar ul {
  padding: 0;
  list-style-type: none;
  display: flex;
  gap: 90px;
  margin-bottom: 8px;
}
.sub_menubar li {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}
.sub_menubar {
  border-bottom: 0.6px solid #367cff;
}
.sub_menubar a {
  text-decoration: none !important;
  color: #28365a;
  padding-bottom: 8px;
}

#active_menu {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  background: linear-gradient(180deg, #00c7ff 0%, #367cff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  border-bottom: 2.5px solid #367cff;
}
.my_library {
  margin-left: 45px;
}
.course_details {
  margin-top: 35px;
  display: flex;
  width: 932px;
  height: 171px;
  background: #ffffff;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
}
.course_details img {
  width: 232px;
  height: 171px;
  filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.25));
  border-radius: 12px 0px 0px 12px;
}
.course_info {
  padding: 16px 20px 16px 20px;
}
.course_info img {
  width: 12.8px;
  height: 11.8px;
  border-radius: 0.5px;
  filter: none !important;
}
.about_course {
  display: flex;
  justify-content: space-between;
  padding-right: 33px;
}
.about_course span {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.01em;
  color: rgba(40, 54, 90, 0.8);
}
.about_course img {
  width: 8px;
  height: 8px;
  margin-right: 7px;
}
#first_span_gap {
  margin-left: 50px;
}
#secend_span_gap {
  margin-left: 28px;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}
.course_info h6 {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.01em;
  color: rgba(0, 0, 0, 0.8);
  margin-bottom: 6px;
}
.course_info p {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.02em;
  color: #28365a;
}

.course_info_reting {
  margin-bottom: 5px !important;
  color: #ffa873;
}
.instructor_name {
  margin-top: 9px !important;
  margin-bottom: 5px !important;
}

.login_main_container {
  width: 500px;
  margin: auto;
  margin-top: 126px;
}
.login_main_container h4 {
  font-weight: 600;
  font-size: 36px;
  line-height: 54px;
  text-align: center;
  margin-bottom: 60px;
  color: #28365a;
}
.login_main_container label {
  font-weight: 600;
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 13px;
  color: #28365a;
}
.login_main_container input {
  width: 100%;
  height: 44px;
  padding: 9px 14px;
  outline: none;
  border: 1px solid #d9d9d9;
  border-radius: 2px;
}
.remember_forget_password {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  margin-bottom: 24px;
}
.or_login {
  display: flex;
  flex-direction: row;
}
.or_login:before,
.or_login:after {
  content: "";
  flex: 1 1;
  border-bottom: 1px solid;
  margin: auto;
}
.or_login:before {
  margin-right: 10px;
}
.or_login:after {
  margin-left: 10px;
}

label[for="Password"] {
  margin-top: 25px;
}
.form_check_box {
  display: flex;
  align-items: center;
}

#CheckDefault {
  width: 13px;
  height: 13px;
  margin-right: 7px;
}
.form_check_label {
  font-weight: 500 !important;
  font-size: 12px !important;
  line-height: 26px !important;
  margin-bottom: 0 !important;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.8) !important;
}
.remember_forget_password span {
  font-weight: 600;
  font-size: 12px;
  line-height: 26px;
  cursor: pointer;
  background: linear-gradient(180deg, #367cff 0%, #367cff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
#login_button {
  width: 100%;
  height: 44px;
  background: #000000;
  border-radius: 2px;
  border: none;
  color: white;
  margin-bottom: 60px;
}

.login_option {
  display: flex;
  justify-content: center;
  gap: 25px;
  margin-top: 25px;
  margin-bottom: 27px;
}
.login_option button {
  width: 131px;
  height: 36px;
  background: none;
  border: 1px solid #00c7ff;
  border-radius: 2px;
}
.login_option img {
  width: 30px;
  height: 30px;
}
#facebook_button_icon {
  width: 20px;
  height: 20px;
}

#have_acount {
  text-align: center;
  margin-bottom: 100px !important;
  font-weight: 500;
  font-size: 14px;
  line-height: 26px;
  color: rgba(0, 0, 0, 0.8);
}
#login_ {
  font-weight: 600;
  font-size: 14px;
  line-height: 26px;
  cursor: pointer;
  color: #367cff;
}

/* wronge info style */
.wrong_info_input {
  border: 1px solid #f37048 !important;
}

.worning_message {
  font-weight: 600;
  font-size: 12px;
  line-height: 26px;
  color: #f37048;
  margin-top: 10px !important;
}

.full_name {
  margin-bottom: 25px;
}
.singup_recomendetion {
  margin-top: 42px;
  margin-bottom: 25px;
}
.singup_recomendetion label {
  font-weight: 500;
  font-size: 12px;
  line-height: 26px;
  color: rgba(0, 0, 0, 0.8);
}
.password_strong {
  font-weight: 400;
  font-size: 12px;
  line-height: 26px;
  color: rgba(0, 0, 0, 0.8);
  margin-top: 6px !important;
}
.terms_condition {
  font-weight: 500;
  font-size: 12px;
  line-height: 26px;
  color: rgba(0, 0, 0, 0.8);
  text-align: center;
  margin: -40px 0 53px 0 !important;
}
.terms_condition span {
  color: #367cff;
  cursor: pointer;
}

/* course */
.menu_navigate {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #28365a;
  margin: 15px 0 57px 0 !important;
}
.main_content {
  display: flex;
  gap: 50px;
}
.img img {
  width: 539px;
  height: 353px;
  background: linear-gradient(
    180deg,
    rgba(38, 38, 38, 0.15) 49.87%,
    #000000 100%
  );
  border: 3px solid #ffffff;
  border-radius: 12px;
}
.info h6 {
  font-weight: 600;
  font-size: 32px;
  line-height: 48px;
  color: #000000;
  margin-bottom: 35px;
}
.info p {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.01em;
  color: #28365a;
  margin-bottom: 11px !important;
}
.info img {
  width: 14.4px;
  height: 14.4px;
  border-radius: 0.5px;
}
.course_reting {
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: #ffa873;
}
.total_review_author {
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: #28365a;
}
.course_language {
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.01em;
  color: #28365a;
}
.short_details {
  margin-top: 30px;
  width: 847px;
  left: 317px;
  top: 567px;
  background: #ffffff;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.12);
  border-radius: 12px;
}
.shot_details_menu {
  padding: 104px 118px 0 118px !important;
  border-bottom: 0.6px solid #f37048;
}
.shot_details_menu ul {
  display: flex;
  gap: 100px;
  padding: 0;
  margin-bottom: 8px;
}
.shot_details_menu ul li {
  list-style: none;
}
.shot_details_menu ul li a {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #28365a;
  padding-bottom: 6px;
}
#short_details_select_menu {
  border-bottom: 3px solid #f37048;
}
.discription {
  padding: 35px 60px;
}
.discription p {
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: #28365a;
}
.discription h6 {
  font-size: 20px;
  line-height: 26px;
  margin: 20px 0 14px 0;
  color: rgba(0, 0, 0, 0.8);
}
.discription img {
  width: 14px;
  height: 14px;
  border-radius: 1.5px;
  margin-right: 4px;
}
.discription span {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.01em;
  color: #28365a;
  display: block;
  margin-bottom: 10px;
}

.heding {
  font-weight: 600;
  font-size: 20px;
  line-height: 26px;
  color: rgba(0, 0, 0, 0.8);
  margin: 35px 0 14px 0 !important;
}
.course_details_info img {
  height: 11.083333015441895px;
  width: 11.083333015441895px;
  border-radius: 0px;
  margin-right: 20px;
}
.course_details_info p {
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0.01em;
  color: #28365a;
}
.higlight {
  font-weight: 600 !important;
  margin-bottom: 12px !important;
}
.section_mergin {
  margin-bottom: 12px !important;
}
.course_content h6 {
  margin: 35px 0 14px 0 !important;
}
.sub_info {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.sub_info p {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.01em;
  color: rgba(40, 54, 90, 0.8);
}
.expand {
  font-weight: 500 !important;
  font-size: 14px !important;
  line-height: 26px !important;
  color: #000000 !important;
  margin-left: 32% !important;
}
.all_course_content {
  width: 847px;
  height: 1325px;
  left: 317px;
  top: 2061px;
  padding: 25px 21px;
  background: #ffffff;
  border: 0.8px solid #dadada;
  box-shadow: 3px 6px 12px rgba(0, 0, 0, 0.06);
  border-radius: 12px;
  border-radius: 12px;
}
.first_content {
  width: 804px;
  height: 185px;
  left: 1143px;
  top: 2085px;
  background: #ffffff;
  border: 1px solid #00c7ff;
  box-shadow: 0px 0px 10px rgba(0, 199, 255, 0.25);
  border-radius: 12px;
}
.hader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px;
  background: linear-gradient(
    180deg,
    rgba(0, 199, 255, 0.15) 0%,
    rgba(54, 124, 255, 0.15) 100%
  );
}
.first_content_first img {
  width: 61px !important;
  height: 45px !important;
  border-radius: 6px !important;
  margin-right: 23px;
}
.first_content_first span {
  font-weight: 600;
  font-size: 16px;
  line-height: 26px;
  color: rgba(0, 0, 0, 0.8);
}
.hader img {
  height: 14px;
  width: 14px;
  border-radius: 0px;
}
.secend_content_secend span {
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.01em;

  color: rgba(0, 0, 0, 0.8);
}

#devider {
  margin: 0 13px;
}
.topics {
  width: 804px;
  height: 79px;
  background: #ffffff;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.12);
  border-radius: 12px;
  margin-top: 12px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px;
}
.topics img {
  height: 14px;
  width: 14px;
  border-radius: 0px;
}

.instructor_box {
  width: 844px;
  height: 222px;
  background: #ffffff;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  padding: 20px 18px;
}
.instructor_details h6 {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-decoration-line: underline;
  color: #ffa873;
}
.instructor_details p {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.01em;
  color: #28365a;
}
.instructor_img {
  display: flex;
  align-items: center;
  gap: 23px;
  padding-bottom: 20px;
}
.instructor_info {
  display: flex;
  justify-content: center;
  align-items: center;
}
.instructor_img img {
  width: 93px;
  height: 93px;
  left: 340px;
  top: 3489px;
  border: 4px solid #ffffff;
}
.instructor_info img {
  height: 12px;
  width: 14px;
  margin-right: 6px;
}
.instructor_container {
  align-items: center;
}
.instructor_info p {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.8);
  margin-bottom: 8px !important;
}
.course {
  width: 264px;
  height: 341px;
  background: #ffffff;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  margin-top: 25px;
}
.course_all_info {
  padding: 12px 12px 30px 12px !important;
}
.course_banner {
  width: 264px !important;
  height: 138px !important;
  border-radius: 2px;
}
.course img {
  height: 14px;
  width: 14px;
  border-radius: 0.5px;
  margin-right: 5px;
}
.course p {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.01em;
  color: #000000;
}
.price_retaing {
  display: flex;
  justify-content: space-between;
}
.course_button {
  display: flex;
  justify-content: space-between;
}
#course_name {
  font-weight: 600;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0.01em;
  color: rgba(0, 0, 0, 0.8);
  margin-bottom: 11px !important;
}
#deauration {
  margin: 5px 0 8px 0 !important;
}
.course_button {
  margin-top: 20px;
}
.course_button :nth-child(1) {
  width: 189px;
  height: 32px;
  background: #000000;
  border-radius: 4px;
  color: white;
}
.course_button :nth-child(2) {
  width: 37px;
  height: 32px;
  left: 1113px;
  top: 4459px;
  background: #000000;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
.course_button img {
  height: 18.009122848510742px !important;
  width: 20.000022888183594px !important;
  margin: 0 !important;
}
.price_retaing span {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.8);
}
#price_retaing_last_chaild {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}
.search_course {
  width: 844px;
  border: 1px solid #000000;
  padding: 10px;
  margin-top: 35px;
  text-align: center;
}
.more_course_heding {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.more_course_heding span {
  color: #ffa873;
}
.more_course_heding p {
  font-weight: 600;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0.01em;
  text-decoration-line: underline;
  color: #000000;
  cursor: pointer;
}
.sidebar {
  margin-top: 100px;
  width: 376px;
  height: 921px;
  background: #ffffff;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.12);
  border-radius: 12px;
}
.sidebar_header {
  border-bottom: 0.6px solid rgba(40, 54, 90, 0.6);
  padding: 40px 24px 15px 24px;
}
.sidebar_header h6 {
  display: inline-block;
  font-weight: 600;
  font-size: 36px;
  line-height: 26px;
  color: rgba(0, 0, 0, 0.8);
}
.sidebar_header p {
  font-weight: 500;
  font-size: 14px;
  line-height: 26px;
  color: #f37048;
  margin-top: 26px !important;
}
.sidebar_header img {
  height: 10.302181243896484px;
  width: 10.83409595489502px;
  margin-right: 6px;
}
.sidebar_header strike {
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-decoration-line: line-through;
  color: #bec3ce;
  margin-left: 14px !important;
}
.sidebar_header button {
  float: right;
  width: 81px;
  height: 28px;
  background: rgba(243, 112, 72, 0.25);
  border-radius: 4px;
  border: none;
}
.course_intro {
  border-bottom: 0.6px solid rgba(40, 54, 90, 0.6);
  padding: 15px 24px 5px 24px !important;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.course_intro img {
  height: 15.104999542236328px;
  width: 15px;
  border-radius: 0px;
  margin-right: 5px;
}
.course_intro p {
  font-weight: 500;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0.01em;
  color: rgba(0, 0, 0, 0.8);
  margin-bottom: 15px !important;
}
#course_intro_left p {
  text-align: end;
}
.course_button_section {
  border-bottom: 0.6px solid rgba(40, 54, 90, 0.6);
  padding: 25px 24px 25px 24px !important;
}
.course_button_section img {
  height: 28.51444435119629px !important;
  width: 31.666702270507812px !important;
}
.course_button_section :nth-child(1) {
  width: 260px;
  height: 56px;
  color: white;
  background: #000000;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  font-weight: 600;
  font-size: 18px;
  line-height: 26px;
  color: #ffffff;
}
.course_button_section :nth-child(2) {
  width: 56px;
  height: 56px;
  color: white;
  background: #000000;
  border: 1px solid #000000;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  margin-left: 6px;
}
.course_button_section :nth-child(4) {
  width: 100%;
  height: 56px;
  background: rgba(255, 255, 255, 0.25);
  border: 1px solid #000000;
  border-radius: 4px;
  margin: 15px 0 !important;
  font-weight: 600;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
}
.course_button_section :nth-child(6) {
  width: 158px;
  height: 36px;
  border: 1px solid #000000;
  filter: drop-shadow(0px 0px 12px rgba(0, 0, 0, 0.12));
  border-radius: 2px;
  font-weight: 600;
  font-size: 13px;
  line-height: 26px;
  color: #000000;
  background: none;
}
.course_button_section :nth-child(7) {
  width: 158px;
  height: 36px;
  border: 1px solid #000000;
  filter: drop-shadow(0px 0px 12px rgba(0, 0, 0, 0.12));
  border-radius: 2px;
  margin-left: 6px;
  font-weight: 600;
  font-size: 13px;
  line-height: 26px;
  color: #000000;
  background: none;
}
.course_button_section p {
  font-weight: 400;
  font-size: 11px;
  line-height: 16px;
  letter-spacing: 0.01em;
  color: rgba(0, 0, 0, 0.8);
  text-align: center;
  margin-top: 15px !important;
}
.course_include {
  border-bottom: 0.6px solid rgba(40, 54, 90, 0.6);
  padding: 25px 24px 10px 24px !important;
}
.course_include h6 {
  font-weight: 600;
  font-size: 16px;
  line-height: 26px;
  color: #000000;
  margin-bottom: 15px;
}
.course_include img {
  height: 13px;
  width: 13px;
  margin-right: 10px;
}
.course_include p {
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0.01em;
  color: #000000;
  margin-bottom: 15px !important;
}
.socail_section {
  padding: 15px 24px 30px 24px !important;
}
.socail_section p {
  font-weight: 600;
  font-size: 12px;
  line-height: 26px;
  margin-bottom: 10px !important;
  color: #000000;
}
.socail_section img {
  height: 13.843894958496094px;
  width: 17.029499053955078px;
  border-radius: 0px;
}
.socail_section :nth-child(2) {
  width: 111px;
  height: 36px;
  background: #f0f6ff;
  border-radius: 2px;
  border: none;
  font-weight: 600;
  font-size: 12px;
  line-height: 26px;
  color: #28365a;
  margin-right: 9px;
}
.socail_section button {
  width: 40px;
  height: 36px;
  background: #f0f6ff;
  border-radius: 2px;
  border: none;
}
.socail_section :nth-child(3) {
  margin-right: 9px;
}
.socail_section :nth-child(4) {
  margin-right: 9px;
}
.socail_section :nth-child(5) {
  margin-right: 9px;
}
#first_button_img {
  margin-right: 6.42px;
}

#facebook_icon_button {
  height: 16px;
  width: 8.569374084472656px;
}
#twiter_icon_button {
  height: 13.843894958496094px;
  width: 17.029499053955078px;
}
#mail_icon_button {
  height: 12px;
  width: 17.010000228881836px;
}
#whatsup_icon_button {
  height: 14.399889945983887px;
  width: 14.439681053161621px;
}
